*{
	font-family: Arial, sans-serif;
	opacity: 0.3;
}
.TG{
	background: black;
	color: white;
	font-size: 16pt;
	border: 10px solid white;
	width: 200px;
	height: 80px;
}
BODY{
	background-image: url("https://canineanimal.github.io/GDRecruit/image.png");
}
A{
	color: rgb(0,0,84);
}
