*{
	font-family: Arial, sans-serif;
}
.TG{
	background: black;
	color: white;
	font-size: 16pt;
	border: 10px solid white;
	width: 200px;
	height: 80px;
}
BODY{
	background-color: rgb(205,205,255);
}
A{
	color: rgb(0,0,84);
}
